<div class='well'>
<%= form_for @recipe do |f| %>

  <%= f.text_field :name, placeholder: 'Recipe Name' %>
  <br><br>

  <div class='proportions-list'>
    <div class='proportion-item' data-proportion-id='0'>
      <%= f.fields_for :proportions do |proportion| %>
          <%= proportion.text_field :quantity, class: "quantity-input-js", placeholder: 'Quantity' %>
        <%= f.fields_for :units do |unit| %>
            <%= unit.text_field :name, placeholder: 'Unit'%>
          <%= f.fields_for :ingredients do |ingredient| %>
              <%= ingredient.text_field :name, placeholder: 'Ingredient' %>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>

  <div>
    <button class='add-proportion'>Add Ingredient</button>
  </div>
  <br>

  <div class='descriptions-list'>
    <div class='description-item' data-description-id='0'>
      <%= f.fields_for :steps do |step_form| %>
        <%= step_form.text_field :description, placeholder: 'Description' %>
      <% end %>
    </div>
  </div>
  <div>
    <button class='add-description'>Add Step</button>
  </div>
    <br>

  <div class='categories-checkboxes checkbox-list'>
    <%= f.fields_for :categories do |category| %>
      <%= category.select :id, Category.all.collect {|c| [ c.name, c.id ] }, prompt: "Select" %> ~
    <% end %>
    <%= f.fields_for :categories do |category| %>
      <%= category.select :id, Category.all.collect {|c| [ c.name, c.id ] },prompt: "Select" %>  ~
    <% end %>
    <%= f.fields_for :categories do |category| %>
      <%= category.select :id, Category.all.collect {|c| [ c.name, c.id ] }, prompt: "Select" %> ~
    <% end %>   
  </div>

  <p>
    <%= f.label :public_recipe, "Choose to make your recipe public or private" %>
    <%= f.select :public_recipe, [['Public', true], ['Private', false]], :prompt => 'Select' %>
 </p>

  <%= f.submit %>
<% end %>
</div>
