<div class='well'>
<%= form_for @recipe, html: {class: 'new-recipe-form-js'} do |f| %>
  <div class='errors-partial'><%= render partial: 'errors', locals: {recipe: @recipe} %></div>
  <%= f.text_field :name, placeholder: 'Recipe Name' %>
  <br><br>

  <div class='proportions-list'>
    <div class='proportion-item' data-proportion-id='0'>
      <%= f.fields_for :proportions do |proportion| %>
          <%= proportion.text_field :quantity, class: "quantity-input-js", placeholder: 'Quantity' %>
          <%= proportion.fields_for :unit do |field| %>
            <%= field.text_field :name, placeholder: "Unit" %>
          <% end %>
          <%= proportion.fields_for :ingredient do |field| %>
            <%= field.text_field :name, placeholder: "Ingredient" %>
          <% end %>
      <%end%>
    </div>
  </div>

  <div>
    <button class='add-proportion'>Add Ingredient</button>
  </div>
  <br>

  <div class='descriptions-list'>
    <div class='description-item' data-description-id='0'>
      <%= f.fields_for :steps do |step_form| %>
        <%= step_form.text_field :description, placeholder: 'Description' %>
      <% end %>
    </div>
  </div>
  <div>
    <button class='add-description'>Add Step</button>
  </div>
    <br>
  <p>
 <%= f.label :public_recipe, "Choose to make your recipe public or private" %>
   <%= f.select :public_recipe, [['Public', true], ['Private', false]], :prompt => 'Select' %>
 </p>

  <%= f.submit %>
<% end %>
</div>