
<%= form_for @recipe do |f| %>
  
  Recipe name: <%= f.text_field :name %><br />
<br>
<div class='proportions-list'>
  <div class='proportion-item' data-proportion-id='0'>
    <%= f.fields_for :proportions do |proportion| %>
            Quantity: <%= proportion.text_field :quantity %>
      <%= f.fields_for :units do |unit| %>
            Unit: <%= unit.text_field :name %>
        <%= f.fields_for :ingredients do |ingredient| %>
            Ingredient: <%= ingredient.text_field :name %>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>

<div>
  <button class='add-proportion'>Add Ingredient</button>
</div>
<br>  

  <div class='descriptions-list'>
    <div class='description-item' data-description-id='0'>
      <%= f.fields_for :steps do |step_form| %>
        <%= step_form.label :description%>
        <%= step_form.text_field :description %>
      <% end %>
    </div>  
  </div> 

<div>
  <button class='add-description'>Add Step</button>
</div>
<!-- GIVE USER OPTION TO ADD MORE STEP FIELDS --> 
  <p>
 <%= f.label :public_profile, "Choose a public or private profile" %>
   <%= f.select :public_profile, [['Public', true], ['Private', false]], :prompt => 'Select' %>
 </p>
  
  <%= f.submit %>
<% end %>