<div class='well'>
<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <ul>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <% @recipe.errors.full_messages.each do |msg| %>   
          <strong><%= msg %></strong><br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name, placeholder: 'Recipe Name' %>
  <br><br>

  <div class='proportions-list'>
    <div class='proportion-item' data-proportion-id='0'>
      <%= f.fields_for :proportions do |proportion| %>
          <%= proportion.text_field :quantity, class: "quantity-input-js", placeholder: 'Quantity' %>
        <%= f.fields_for :units do |unit| %>
            <%= unit.text_field :name, placeholder: 'Unit'%>
          <%= f.fields_for :ingredients do |ingredient| %>
              <%= ingredient.text_field :name, placeholder: 'Ingredient' %>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>

  <div>
    <button class='add-proportion'>Add Ingredient</button>
  </div>
  <br>

  <div class='descriptions-list'>
    <div class='description-item' data-description-id='0'>
      <%= f.fields_for :steps do |step_form| %>
        <%= step_form.text_field :description, placeholder: 'Description' %>
      <% end %>
    </div>
  </div>
  <div>
    <button class='add-description'>Add Step</button>
  </div>
    <br>
  <p>
 <%= f.label :public_recipe, "Choose to make your recipe public or private" %>
   <%= f.select :public_recipe, [['Public', true], ['Private', false]], :prompt => 'Select' %>
 </p>

  <%= f.submit %>
<% end %>
</div>