"<div class='proportion-item'>
    <%= f.fields_for :proportions do |proportion| %>
            Quantity: <%= proportion.text_field :quantity %>
      <%= f.fields_for :units do |unit| %>
            Unit: <%= unit.text_field :name %>
        <%= f.fields_for :ingredients do |ingredient| %>
            Ingredient: <%= ingredient.text_field :name %>
          <br>
        <%end%>
      <%end%>
    <%end%>
  </div>"