<% proportions.each do |proportion| %>
  <ul class='proportion-list-js'>
    <div class='proportion-js'>
      <% @proportion_view_object = ProportionViewObject.new(proportion) %>
      <li><%= @proportion_view_object.display %></li>
    </div>
    <%= form_for proportion, remote: true do |f| %>
      <%= f.text_field :quantity %>
      <%= f.fields_for :unit do |field| %>
        <%= field.text_field :name, :value => @proportion_view_object.unit%>
      <%end%>
      <%= f.fields_for :ingredient do |field| %>
        <%= field.text_field :name, :value => @proportion_view_object.ingredient %>
      <%end%>
    <%end%>
  </ul>
<% end %>

<% steps.each_with_index do |step, index| %>
  <div class='step-description-js'>
    <div class="step-js">
      <%= render partial: 'steps/step', locals: {index: index, step: step}%>
    </div>
  <%= form_for step, html: {class: 'edit-step-js hide'}, remote: true do |f| %>
    <%= f.hidden_field :index, value: index %>
    <%= f.text_area :description %>
    <%= f.submit %>
  <%end%>
  </div>
<%end%>
