<h1><%= @recipe.name %></h1>
<%= form_for @recipe do |f| %>
  <% f.text_field :name %>
<% end %>
<h3><%= @recipe_view_object.list %></h3><h2><%= @recipe_view_object.created_by %></h2>
<img src="<%= @recipe.image_url%>" alt="<%= @recipe.name%>" style="width:304px;height:228px;">
<div><%= render partial: 'show', locals: {recipe: @recipe, steps: @steps, proportions: @proportions} %></div>
