<h1><%= @recipe.name %></h1>
  <%= form_for @recipe do |f| %>
    <% f.text_field :name %>
  <% end %>
<h3><%= @recipe_view_object.list %></h3><h4><%= @recipe_view_object.created_by %></h4>
<%= image_tag(@recipe.image_url, style: "width:304px;height:228px", alt: @recipe_view_object.image_alt)%>
<div><%= render partial: 'show', locals: {recipe: @recipe, steps: @steps, proportions: @proportions} %></div>

<!-- <img src="= @recipe.image_url%>" alt="= @recipe_view_object.image_alt%>" style="width:304px;height:228px;"> -->

