<div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='navbar-inner navbar-inverse'>
      <div class='container'>
        <a href='/' class='brand'>Cookbook</a>
        <ul class='nav pull-left'>
          <li><%= link_to 'All Recipes', recipes_path %></li>
          <li>
            <form class="navbar-form navbar-left" role="search" method="GET" action="/searches">
                <div class="form-group">
                  <input type="text" name= "keyword" class="form-control" placeholder="Search By Recipe Name or Ingredient" size='60'>
                  <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form>
          </li>
        </ul>
         
        
        <ul class='nav pull-right'>
          <% if current_user.class == User %>
              <li><%= link_to 'My Profile', user_path(current_user) %></li>
              <li><a href='/recipes/new'>New Recipe</a></li>
              <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
              <li><%= link_to 'Create Account', new_user_path %></li>
              <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
   
